name: Python packages linux

on:
  release:
    types: [published]
  push:

jobs:
  build:
    name: build python packages
    runs-on: ubuntu-latest
    container: quay.io/pypa/manylinux2014_x86_64
    strategy:
      fail-fast: false
      matrix:
        python-version: ['cp37-cp37m', 'cp38-cp38', 'cp39-cp39', 'cp310-cp310', 'cp311-cp311']
    steps:
      - name: add Python dir to path
        run: |
            echo "/opt/python/${{ matrix.python-version }}/bin" >> $GITHUB_PATH
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build for Python ${{ matrix.python-version }}
        run: |
            git config --global --add safe.directory '*'
            pip install --upgrade "meson" "ninja" "numpy" "meson-python==0.12.1" "build" "wheel" "twine" "auditwheel"
            python scripts/build_wheel.py
      - name: Make wheels universal
        run: for wheel in $(ls dist/*.whl); do auditwheel repair $wheel; done
      - name: Save packages as artifacts
        uses: actions/upload-artifact@v3
        with:
          name: pycdfpp-linux-${{ matrix.python-version }}
          path: wheelhouse/*
      - name: Publish on PyPi
        if: github.event.release
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: twine upload --skip-existing wheelhouse/*
      - name: Publish on PyPi (test)
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TEST_PASSWORD }}
        run: twine upload --repository testpypi --skip-existing wheelhouse/*
