name: Linux test matrix

on: [push]

jobs:
  build:
    name: Linux test matrix
    runs-on: ubuntu-latest
    continue-on-error: false
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    steps:
      - uses: actions/checkout@v3
      - name: Build python wheel
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: build
        run: |
          pip install --upgrade meson ninja numpy meson-python==0.12.1 build wheel
          meson -Dbuildtype=release -Dwith_tests=true . build
          ninja --verbose -C build
      - name: run tests
        run: |
          ninja test -C build

